body {
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Arial, sans-serif;
  background-color: #f3f4f6; /* אפור בהיר כמו בתמונה */
  color: #111827;
  
}

.container {
  position: relative;   
  padding: 40px 40px 400px 40px;
    border: 2px solid #000;
    
  
}

.container h1 {
  margin: 0 0 24px 60px; 
  font-size: 28px;


}

.menu {
  position: fixed;          
  top: 12px;
  left: 12px;
  background-color: #e9daa1;
  padding: 6px 14px;
  border-radius: 5px;
  font-weight: 600;
}

.satellite {
  position: static;               
  display: block;
  width: fit-content;
  margin-left: 60px;              
  margin-top: 16px;
  padding: 8px 14px;
  background-color: #e5e7eb;
  border-radius: 10px;
}

.planet {
  position: relative;             
  display: block;
  width: fit-content;
  margin-left: 100px;            
  margin-top: 50px;              
  padding: 8px 14px;
  background-color: #bfdbfe;
  border-radius: 10px;
}

.note {
  position: sticky;               
  top: 80px;                     
  display: block;
  width: fit-content;
  margin-left: 60px;   
  margin-top:-2px;         
  padding: 8px 14px;
  background-color: #e9daa1;
  border-radius: 10px;
}

.spaceship {
  position: absolute;       
  top: 10px;
  right: 16px;
  background-color: #e9daa1;
  padding: 6px 16px;
  border-radius: 4px;
  font-weight: 600;
}

.filler {
  height: 900px;
}
