body {
    font-family: Arial, sans-serif;
    background-color: #eef2f3;
    margin: 0;
    padding: 0;
    color: #333;
}


header {
    position: relative;
    width: 450px;
    height: 170px;
    background-color: #fdcece;
    margin: 40px auto 20px auto;
    border-radius: 12px;
    padding: 20px;
}

header img {
    position: absolute;
    left: 350px;
    top: 25px;
    width: 120px;
    height: 120px;
    border-radius: 12px;
    border: 3px solid #942020;
}

header h1 {
    font-size: 24px;
    font-weight: bold;
}

header h3 {
    margin-top: 6px;
    font-size: 15px;
    color: #444;
}

nav {
    width: 500px;
    margin: 10px auto 20px auto;
    background-color: #fdcece;
    padding: 12px;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
}

nav a {
    text-decoration: none;
    color: #333;
    margin: 0 7px;
    font-size: 14px;
}

section {
    width: 450px;
    margin: 20px auto;
    background-color: #fdcece;
    padding: 20px;
    border-radius: 12px;
}

.two-columns {
    width: 500px;
    margin: 20px auto;
    padding: 0;                 
    background-color: transparent;
}

.two-box {
    display: inline-block;
    width: 235px;
    background-color: #fdcece;
    padding: 15px;
    border-radius: 12px;
    vertical-align: top;
    text-align: left;
    box-sizing: border-box;
    margin: 0 5px;
}

hr {
    width: 500px;
    margin: 20px auto;
    border: none;
    border-top: 1px solid #fdcece;
}


section a {
    color: #942020;
    text-decoration: none;
}

section a:hover {
    text-decoration: underline;
}
